<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 center-text">
      <h2>Angular Custom Form Element</h2>
    </div>
  </div>
  <hr />
  <div class="form-container">
    <form #storeForm="ngForm" (ngSubmit)="submitStoreForm()">
      <div class="component-margin">
        <app-lookup
          name="store"
          [formConfig]="storeFormConfig"
          [lookupConfig]="storeLookupConfig"
          ngModel
        ></app-lookup>
      </div>
      <div class="component-margin">
        <app-lookup
          name="item"
          [formConfig]="itemFormConfig"
          [lookupConfig]="itemLookupConfig"
          ngModel
        ></app-lookup>
      </div>
      <div class="center-text component-margin">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="storeForm.invalid"
          style="margin: 0 5px"
        >
          Submit
        </button>
        <button
          mat-raised-button
          type="reset"
          color="warn"
          (click)="resetStoreForm()"
          style="margin: 0 5px"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
  <div class="row col-xs-12 center-text">
    {{ value$ | async | json }}
  </div>
</div>
